.link-main {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
  list-style: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.list-style {
  margin-left: 50px;
}
