.linknav {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
